<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>InstaClone</title>
  <link rel="stylesheet" href="../static/css/materialize.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="stylesheet" href="../static/css/material-font.css">
</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/" style="font-size: 30px;">InstaClone</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Logout</a></li>
        </ul>
        <form class="hide-on-med-and-down" style="margin-left: 12%;" action="/" method="get">
          <div class="input-field" style="max-width: 400pt;">
            <input id="search" name="query" type="search" required placeholder="Search">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </div>

  <div class="wrapper">
    <div class="masonry">
      {% for i in images %}
      <div class="brick">
        <a href="/">
          <div class="text-container">

          <img src="../static/images/backgrounds/login/{{ i }}">
           <div class="centered">Centered</div>
         </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

</body>
<script src="../static/js/material.js" charset="utf-8"></script>
</html>
