<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/login.css">
</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background: url('static/user_images/{{ image }}.jpg') no-repeat center; background-size: cover;">
			<div class="wrap-login100">
				<form class="login100-form" method="post">
					<a href="/">
						<span class="login100-form-title p-b-26">
							Login to SnapIt
						</span>
					</a>
					{% if error %}
					<div class="error">
						Invalid Credentials
					</div>
					{% endif %}
					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="username">
						<span class="focus-input100" data-placeholder="Username"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="password">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Login
							</button>
						</div>
					</div>

					<div class="text-center p-t-115">
						<span class="txt1">
							Don’t have an account?
						</span>

						<a class="txt2" href="/register">
							Sign Up
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
