<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Submit</title>
  <link rel="stylesheet" href="../static/css/materialize.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="stylesheet" href="../static/css/material-font.css">
</head>
<body id="full">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/" style="font-size: 30px;">SnapIt</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/favourites">Favourites</a></li>
          <li><a href="/profile/{{ user }}">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <form class="hide-on-med-and-down" style="margin-left: 12%;" action="/search" method="get">
          <div class="input-field" style="max-width: 400pt;">
            <input id="search" name="query" type="search" required placeholder="Search">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </div>
  <center>
    <h2>Submit Image</h2><br><br>
    <form action="/submit" method="post" enctype="multipart/form-data">
      <div class="file-field input-field" style="width: 50%;">
        <img class="responsive-img" id="preview" height="50%">
        <br><br>
        <div class="btn">
          <span>File</span>
          <input type="file" id="imgInp" name="imagefile" required accept="image/jpeg">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
        <br>
        <div class="row">
          <div class="input-field">
            <i class="material-icons prefix">create</i>
            <input id="icon_prefix" type="text" class="validate" required name="title">
            <label for="icon_prefix">Title</label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="input-field">
            <i class="material-icons prefix">local_offer</i>
            <input id="icon_prefix" type="text" class="validate" required name="tags">
            <label for="icon_prefix">Tags (Separated by commas)</label>
          </div>
        </div>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>

    </form>
  </center>

</body>
<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="../static/js/material.js" charset="utf-8"></script>
<script type="text/javascript">
function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#preview').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}

$("#imgInp").change(function() {
  readURL(this);
});
</script>
</html>
